*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #fcf7f2;
  --text-color: #2b2e2b;
  --shade-1: #f8ede3;
  --shade-2: #bdd2b6;
  --shade-3: #a2b29f;
  --shade-4: #798777;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}
