.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.main-footer {
  width: 100%;
  margin-top: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--shade-1);
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--shade-2);
  box-shadow: 0px 2px 30px var(--shade-2);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1.5rem;
}

footer {
  background-color: var(--shade-4);
  color: var(--background-color);
  text-align: center;
  padding: 1.5rem 1rem;
}
